@page "/getintouch"
<div class="text-center border my-5 rounded">
    <div class="display-6 border-bottom">İletişim</div>
    <div class="lead mt-5">
        <i class="fa fa-phone text-white bg-secondary p-3 rounded-5 my-3"></i>
        <p>
           H2i Online Market Telefon Hattı
        </p>
        <i class="fa-solid fa-address-book text-white bg-secondary rounded-5 my-3 p-3"></i>
        <p>
            H2i Online Market iletişim bilgileri ve adres bilgileri.
        </p>
        <i class="fa-solid fa-envelope bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            mail@h2istudios.com.tr
        </p>
    </div>
</div>