<div class="text-center text-danger my-5">
    <h3 class="display-3">
        <i class="fa fa-solid fa-bug-slash"></i>
        <br/>
        Yetkiniz bulunmamaktadır!
    </h3>
</div>

<div class="text-center my-5">
    <div class="lead my-5">
        Bu sayfaya yetkiniz bulunmamaktadır. Lütfen yöneticiyle iletişime geçiniz.
    </div>

    <div class="btn-group my-5">
        <a  class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
        <a  class="btn btn-outline-secondary" asp-controller="Product" asp-action="Index">Ürünler</a>
        <a  class="btn btn-outline-secondary" asp-page="/contact">İletişim</a>
    </div>

</div>